@mixin scroll-appear($duration: 0.3s, $easing: ease-in-out) {
	body:not(.no-js) & {
		&[data-scroll-appear-state="appearing"] {
			// This transition only applies for the duration of the element's appearance
			transition: all $duration $easing;

			@media (prefers-reduced-motion) {
				transition: none;
			}
		}

		&[data-scroll-appear-state="hidden"] {
			@media (prefers-reduced-motion: no-preference) {
				@content;
			}
		}
	}
}
